html {
  background-color: black;
}

#screen {
  border: 10px solid #333;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: 400px;
  height: 400px;
}

.main-container {
  display: flex;
  gap: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
}

.sidebar {
  color: white;
  flex: 1;
}
